# Visual Studio
.vs/
*.user
*.suo

# Build output
**/bin/
**/obj/
artifacts/

# Logs and user settings
logs/
*.log
appsettings.user.json

# Packages
*.nupkg
packages/

# Operating system
Thumbs.db
.DS_Store
../BoardView-1.0.0-alpha.14.1.zip
